---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<section class="prose prose-zinc dark:prose-invert max-w-none">
		<h1>Калькуляторы</h1>
		<ul>
			<li>TDEE / BMR</li>
			<li>1RM и обратный расчёт по %1RM</li>
			<li>Объём/тоннаж</li>
			<li>Конвертеры</li>
			<li>Таймер отдыха</li>
			<li>Чек‑лист тренировки</li>
			<li>Генератор простой программы</li>
		</ul>
	</section>
</Layout>


