---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="prose prose-zinc dark:prose-invert max-w-none">
		<h1>Инструменты для тренировок и питания</h1>
		<p>
			Мини‑сайт с калькуляторами для силовых и питания. Быстро, без рекламы, локально для Перми.
		</p>
	</section>
</Layout>
